<%provide(:title, "Database")%>

      <li class="dropdown">
        <% if @bases %>
          <% @bases.each do |base| %>
            <% if data_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%="#{base.db_name}"%> <b class="caret"></b> </a>
                  <ul class="dropdown-menu">
                    <li><%= button_to "Show", new_table_path(id: base.id), method: :table %></li>
                    <li><%= button_to "lel", ""%></li>
                  </ul>
            <%else%>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%="#{base.db_name}"%> <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                  <li><%= button_to "dupa", :session, connect_database_path(name: base.db_name)%></li>
                </ul>
                <% end %>
          <% end %>
        <% end %>
        </li>
