
  <div class = "js-row">
    <%= form_for :add_columns do |f| %>
    <%= f.label :row%>
    <%= f.text_field 'row', index: index,  class: "restricted"%>

    <%= f.label :required %>
    <%= f.check_box 'required', index: index, class: 'required'%>

    <%= f.label :unique %>
    <%= f.check_box 'unique', index: index, class: 'unique' %>

    <%= f.label :primary_key %>
    <%= f.check_box 'primary_key', index: index, class: 'test' %>

    <%= f.select :data, %w[integer money real varchar char boolean time date], {}, { index: index, class: 'list' }%>
    <%= f.text_field 'size', index: index, id: 'value', placeholder: 'Input string length'%>

    <%=button_tag 'Remove', type: 'button', class: 'remove',
          data: {index: ('__INDEX__').gsub('\n', '') }%>
    <%= f.submit %>
        <% end %>
  </div>
