<% provide(:title, "#{@table}") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(:table_edit, url: update_path, :html => {:autocomplete => "off"}) do |f| %>
  <h1><%=f.text_field :table_name, placeholder: "#{@table}" %></h1>
      <%= f.hidden_field('old_t', value: "#{@table}")%>
  <table class="table">
    <thead>
      <th>Column name</th>
      <th>Data type</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <% @row.each_with_index do |r, i|%>
        <tr>
          <% if r.name.to_s == @primary.to_s %>
          <td><%= f.text_field :row, placeholder: r.name.to_s, index: i%>
              <%= f.hidden_field('old_c', value: r.name.to_s, index: i)%><i class="fa fa-key"></i></td>
              <td> <%= r.type.to_s  %></td>
             <td> <%= f.hidden_field('destroy', value: 0, index:i)%></td>
          </tr>
          <% else %>
          <td><%= f.text_field :row, placeholder: r.name.to_s, index: i %>
              <%= f.hidden_field('old_c', value: r.name.to_s, index: i)%></td>
          <td> <%= r.type.to_s  %></td>
           <td> <%= f.check_box :destroy, index: i %></td>
        </tr>
          <% end %>

      <%end%>
    </tbody>
  </table>
  <div class = "center">
  <%= f.submit "Update", class:"btn btn-primary"%>
  </div>
<% end %>

<div class = "center" >
<button class="btn btn-primary" data-toggle="modal" data-target="#todo-notes"> Add column </button>
<div class="modal fade" id="todo-notes" tabindex="-1" role="dialog" aria-labelledby="todo-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="todo-label">Add column</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:column, url: add_column_path, :html => {:autocomplete => "off"}) do |f| %>
        <%= f.hidden_field('table_name', value: "#{@table}")%>
        <%= render "form"%>
        <%= f.submit "Add column", class:"btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
