<% provide(:title, "#{@table}") %>
  <h1><%= @table %></h1>
<table class="table">
  <thead>
    <th>Column name</th>
    <th>Data type</th>
  </thead>
<tbody>
<% @row.each do |r|%>
  <tr>
    <% if r.name.to_s == @primary.to_s %>
    <td><%= r.name.to_s %>  <i class="fa fa-key"></i></td>
    <% else %>
    <td><%= r.name.to_s %></td>
    <% end %>
    <td><%= r.type.to_s %></td>
  </tr>
<%end%>
<tbody>
<%= link_to "Edit table", edit_table_edit_path(table_name: @table)%>
</table>
<i class="glyphicon glyphicon-key"></i>
