<% provide(:title, "#{@table}") %>
  <h1><%= @table %></h1>
<table class="table">
  <thead>
  <% @row.each do |r|%>
    <th>
      <%= r.name.to_s %>
    </th>
    <%end%>
  </thead>
<tbody>
  <% @show.map.each do |row| %>
    <tr>
      <% row.values.each do |col| %>
        <td> <%= col %> </td>
      <% end %>
    </tr>
  <% end %>
  <%= form_for(:content, url: add_content_path, :html => {:autocomplete => "off"}) do |f| %>
    <%= f.hidden_field :table_name, value: @table %>
<tr>
  <% @row.each_with_index do |r,i|%>
    <td>
    <%= f.fields_for :con do |w|%>
      <%= w.text_field "#{i}"%>
    <% end %>
    </td>
  <%end%>
</tr>
<tbody>
</table>
<%= f.submit %>
<%end%>
