<% provide(:title, "#{@table}") %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <h1><%= @table %></h1>
<table class="table">
  <thead>
  <% @row.each do |r|%>
    <th>
      <%= r.name.to_s %> (<%= r.type.to_s %>)
    </th>
    <%end%>
  </thead>
<tbody>
  <% @show.map.each do |row| %>
    <tr>
      <% row.values.each do |col| %>
        <td> <%= col %> </td>
      <% end %>
    </tr>
  <% end %>
  <%= form_for(:content, url: add_content_path, :html => {:autocomplete => "off"}) do |f| %>
    <%= f.hidden_field :table_name, value: @table %>
<tr>
  <% @row.each_with_index do |r,i|%>
    <td>
    <%= f.fields_for :con do |w|%>
      <% if r.type.to_s == 'boolean' %>
        <%= w.check_box "#{i}"%>
      <% elsif r.type.to_s == 'integer' || r.type.to_s == 'money' || r.type.to_s == 'real' %>
        <%= w.text_field "#{i}", onkeypress: "return isNumber(event)"%>
      <% elsif r.type.to_s == 'date'%>
      <div class="cointiner">
        <div id="datepicker" class="input-append">
            <%= w.text_field "#{i}", class: 'date', placeholder: 'YYYY-MM-DD', readonly: true%>
              <span class="add-on">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
      <% elsif r.type.to_s == 'time'%>
      <div class="cointiner">
        <div id="timepicker" class="input-append">
            <%= w.text_field "#{i}", class: 'time', placeholder: 'HH:MM:SS', readonly: true%>
              <span class="add-on">
                <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
      <% elsif r.type.to_s == 'string'%>
        <%= w.text_field "#{i}", maxlength: r.limit.to_i %>
      <% else %>
        <%= w.text_field "#{i}" %>
      <% end %>
    <% end %>
    </td>
  <%end%>
</tr>
<tbody>
</table>
<div class = "center">
<%= f.submit "Save content", class:"btn btn-primary btn-md" %>
<%end%>
</div>
</div>
</div>
