<header class="navbar navbar-fixed-top navbar-inverse">
<nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path%></li>
        <% if data_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Table <b class="caret"></b>
                </a>
                  <ul class="dropdown-menu">
                      <li><%= link_to "New", new_table_path %></li>
                      <li><%= link_to "Menage", show_table_path%></li>
                  </ul>
          </li>
        <% end %>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Database <b class="caret"></b>
                </a>
                  <ul class="dropdown-menu">
                      <li><%= link_to "New", create_path %></li>
                      <%if data_in? %>
                      <li><%= link_to "Disconnect", disconnect_path, method: "delete"%></li>
                      <%else%>
                      <li><%= link_to "Connect", show_database_path%></li>
                      <%end%>
                  </ul>
          </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                    </a>
                      <ul class="dropdown-menu">
                          <li><%= link_to "Profile", current_user %></li>
                          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                          <li class="divider"></li>
                          <li>
                            <%= link_to "Log out", logout_path, method: "delete" %>
                          </li>
                      </ul>
          </li>
        <% else %>

          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
</header>
